/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: linear-gradient(from 1% 1% to 60% 60%, #0789AC, #98DEF1);
    -fx-background-repeat: repeat, no-repeat;
}

.tree-view .tree-cell:selected{
    -fx-background-color: linear-gradient(from 0% 100% to 100% 100%, #0789AC, #98DEF1);
    -fx-background-repeat: repeat, no-repeat;
}